button {
  font-size: 2rem;
  color: #ffffff;
  background-color: #333333;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

button:focus {
  background-color: #3977ad;
}

#drum-machine {
  margin: 20px;
}
#drum-pad {
  width: 25%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}